/*

    All the basic components

*/


/* Sections */

.component--section {
    width: calc(100% - var(--global-sidesmargin)*2);
    min-height: 10px;
    margin: calc(var(--global-topbottommargin)*var(--componentsection-marginFactor)) var(--global-sidesmargin);
    -webkit-overflow-scrolling: touch;
    display: flex;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    scroll-padding: var(--global-sidesmargin);
    overflow-y: visible;
    overflow-x: auto;
    height: fit-content;
}


/* Cards */

.component--card {
    background-color: var(--cards-background);
    scroll-snap-align: start;
    border-radius: 8px;
    border: 1px solid transparent;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.component--card:hover {
    border: 1px solid var(--cards-border);
}

[data-rendering-mode="high"] .component--card:hover {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.component--card:active {
    border: 1px solid var(--cards-border);
}

[data-rendering-mode="high"] .component--card:active {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}