/*

    All the basic components

*/


/* Prevent scrolling repaint */

[no-scroll-repaint],
.component--section {
    -webkit-transform: translateZ(0) !important;
    -moz-transform: translateZ(0) !important;
    transform: translateZ(0) !important;
    -webkit-backface-visibility: hidden !important;
    -moz-backface-visibility: hidden !important;
    backface-visibility: hidden !important;
}


/* Sections */

.component--section {
    width: calc(100% - var(--global-sidesmargin)*2);
    min-height: 10px;
    margin: calc(var(--global-topbottommargin)*var(--componentsection-marginFactor)) var(--global-sidesmargin);
    -webkit-overflow-scrolling: touch;
    display: flex;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    scroll-padding: var(--global-sidesmargin);
    overflow-y: visible;
    overflow-x: auto;
    height: fit-content;
}


/* Cards */

.component--card {
    background-color: var(--cards-background);
    scroll-snap-align: start;
    border-radius: 8px;
    border: 1px solid transparent;
    box-shadow: 0 1px 2px var(--cards-border);
    text-decoration: none
}