/*

    home page content components

*/

:root {
    --homepagecoversuggestions-width: 300px;
    --homepagecoversuggestions-height: 168px;
    --coversuggestionscard-scrollalign: start;
    --coversuggestionscardfirst-left: var(--global-sidesmargin);
    --coversuggestionscardlast-right: var(--coversuggestionscardfirst-left);
}

@media all and (max-width: 840px) {
     :root {
        --coversuggestionscard-scrollalign: center;
        --coversuggestionscardfirst-left: calc( ( 100vw - var(--homepagecoversuggestions-width) - 2px) / 2)
    }
}


/* Main cover */

.component--cover {
    width: 100%;
    height: var(--componentcover-height);
    background-color: var(--colours-primary1);
}

[data-rendering-mode="high"] .component--cover {
    box-shadow: inset 0px -68px 40px -15px var(--pagecontent-background);
}

[data-rendering-mode="low"] .component--cover {
    box-shadow: inset 0 -28px 18px -10px var(--pagecontent-background)
}


/* Main cover suggestions */

.homepage--cover-suggestions {
    position: relative;
    top: calc( -1 * var(--homepagecoversuggestions-height) - 3 * var(--global-topbottommargin));
    height: calc(var(--homepagecoversuggestions-height) + 8px);
    margin-bottom: calc(-1 * var(--homepagecoversuggestions-height));
    right: var(--global-sidesmargin);
    width: 100%;
    padding-bottom: 2px;
}

.homepage--coversuggestions-card {
    position: relative;
    width: var(--homepagecoversuggestions-width);
    min-width: var(--homepagecoversuggestions-width);
    height: var(--homepagecoversuggestions-height);
    margin-right: 12px;
    scroll-snap-align: var(--coversuggestionscard-scrollalign);
}

.homepage--coversuggestions-card text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 18px;
}

.homepage--coversuggestions-card:first-child {
    margin-left: var(--coversuggestionscardfirst-left);
}

.homepage--coversuggestions-card:last-child {
    margin-right: var(--coversuggestionscardlast-right);
}