/*

    home page content components

*/

:root {
    --homepagecoversuggestions-width: 300px;
    --homepagecoversuggestions-height: 168px;
    --coversuggestionscard-scrollalign: start;
    --coversuggestionscardfirst-left: var(--global-sidesmargin);
    --coversuggestionscardlast-right: var(--coversuggestionscardfirst-left);
    --homepagecoverinfo-top: none;
    --homepagecoverextrainfo-display: block;
}

@media all and (max-width: 840px) {
     :root {
        --coversuggestionscard-scrollalign: center;
        --coversuggestionscardfirst-left: calc( ( 100vw - var(--homepagecoversuggestions-width) - 2px) / 2);
        --homepagecoverinfo-top: var(--global-sidesmargin);
        --homepagecoverextrainfo-display: none;
    }
}


/* Main cover */

.component--cover {
    width: 100%;
    height: var(--componentcover-height);
    background-color: #6247F1;
    display: flex;
    align-items: center;
    content-visibility: auto;
}

.component--cover:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    right: -40px;
    left: -40px;
    height: 200px;
}

[data-rendering-mode=high] .component--cover:after {
    box-shadow: inset 0 -68px 40px -15px var(--pagecontent-background);
}

[data-rendering-mode=low] .component--cover:after {
    box-shadow: inset 0 -28px 18px -10px var(--pagecontent-background)
}

.component--cover .homepage--background {
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}


/* Main cover suggestions */

.homepage--cover-suggestions {
    position: relative;
    top: calc( -1 * var(--homepagecoversuggestions-height) - 3 * var(--global-topbottommargin));
    height: calc(var(--homepagecoversuggestions-height) + 8px);
    margin-bottom: calc(-1 * var(--homepagecoversuggestions-height));
    right: var(--global-sidesmargin);
    width: 100%;
    padding-bottom: 2px;
    content-visibility: auto;
}

.homepage--coversuggestions-card {
    position: relative;
    width: var(--homepagecoversuggestions-width);
    min-width: var(--homepagecoversuggestions-width);
    height: var(--homepagecoversuggestions-height);
    margin-right: 12px;
    scroll-snap-align: var(--coversuggestionscard-scrollalign);
}

.homepage--coversuggestions-card text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 18px;
}

.homepage--coversuggestions-card:first-child {
    margin-left: var(--coversuggestionscardfirst-left);
}

.homepage--coversuggestions-card:last-child {
    margin-right: var(--coversuggestionscardlast-right);
}


/* Main cover info */

.homepage--cover-info {
    position: absolute;
    top: var(--homepagecoverinfo-top);
    margin: 0px var(--global-sidesmargin);
    padding-bottom: 80px;
    height: 100px;
}

.homepage--cover-title,
.homepage--cover-description {
    display: var(--homepagecoverextrainfo-display);
}

.homepage--cover-price {
    display: block;
    font-size: 18px;
}

.homepage--cover-title {
    font-size: 32px;
    margin: 4px 0px;
}

.homepage--cover-description {
    font-size: 28px;
    opacity: 0.8;
}