# Manage the files that should not be uploaded to the repository


# Ignore the "/builds/" directory in the "bundler" folder
/bundler/builds
/bundler/builds/*

# Ignore the "/public/" directory in the "bundler" folder
/bundler/public
/bundler/public/*

# Ignore the "/apps_codebase/" directory in the "bundler" folder
/bundler/apps_codebase
/bundler/apps_codebase/*

# Do not upload secret files
**/*.secret
**/*.secret.*
**/*.secret.**
**/secret.**

# Ignore the "/tests/" directory
/tests
/tests/*

# Ignore the "/node_modules/" directory
/node_modules
/node_modules/*
*/node_modules
*/node_modules/*

# Ignore build files
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.DS_Store
