/*

    The styles of the alert screen and pop-up box

*/

:root {
    --alertscard-width: calc(60vw - var(--alertscard-paddingleftright) * 2);
    --alertscard-maxheight: calc( (60 * var(--vh, 1vh)) - var(--alertscard-paddingtopbottom) * 2);
    --alertscard-paddingleftright: 40px;
    --alertscard-paddingtopbottom: 20px;
    --alertscarddescription-margin: 0px 20px;
    --alertscardbuttons-margin: 18px 6px;
    --menucard-position: fixed;
    --menucard-margin: 0px;
    --alerts-blur: blur(3px);
    --menucontainer-backdropfilter: none;
    --menucontainer-background: none;
    --menucard-width: fit-content;
    --menucard-minwidth: 280px;
    --menucclose-display: none;
    --menusectionsnavigation-display: none;
    --menuaccountuserinfo-display: block;
    --menuaccount-textalign: center;
    --menucontainer-width: 0px;
    --menucontainer-height: 0px;
    --menuaccountactions-margin: 16px;
}

@media all and (max-width: 840px) {
     :root {
        --alertscard-width: calc(90vw - var(--alertscard-paddingleftright) * 2);
        --alertscard-maxheight: calc( (80 * var(--vh, 1vh)) - var(--alertscard-paddingtopbottom) * 2);
        --alertscard-paddingleftright: 28px;
        --alertscard-paddingtopbottom: 20px;
        --alertscarddescription-margin: 0px 4px;
        --alertscardbuttons-margin: 18px 4px;
        --menucard-position: relative;
        --menucard-margin: calc(( (100 * var(--vh, 1vh)) - var(--alertscard-maxheight) - var(--alertscard-paddingtopbottom)) / 2.5) auto;
        --menucontainer-backdropfilter: var(--alerts-blur);
        --menucontainer-background: var(--alerts-background);
        --menucard-width: var(--alertscard-width);
        --menucard-minwidth: none;
        --menucclose-display: block;
        --menusectionsnavigation-display: block;
        --menuaccountuserinfo-display: inline-block;
        --menuaccount-textalign: left;
        --menucontainer-width: 100%;
        --menucontainer-height: 100%;
        --menuaccountactions-margin: 8px;
    }
}

.alerts--container,
.menu--container {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: var(--alerts-background);
    -webkit-backdrop-filter: var(--alerts-blur);
    backdrop-filter: var(--alerts-blur);
    display: flex;
    align-items: center;
}

.menu--container {
    -webkit-backdrop-filter: var(--menucontainer-backdropfilter);
    backdrop-filter: var(--menucontainer-backdropfilter);
    background: var(--menucontainer-background);
    width: var(--menucontainer-width);
    height: var(--menucontainer-height);
}

.alerts--container .alerts--card,
.menu--container .menu--card {
    position: relative;
    width: var(--alertscard-width);
    height: -moz-fit-content;
    height: fit-content;
    max-height: var(--alertscard-maxheight);
    background-color: var(--alertscard-background);
    border: 1px solid var(--alertscard-border);
    margin: calc(( (100 * var(--vh, 1vh)) - var(--alertscard-maxheight) - var(--alertscard-paddingtopbottom)) / 2.5) auto;
    border-radius: 12px;
    padding: var(--alertscard-paddingtopbottom) var(--alertscard-paddingleftright);
    text-align: center;
    opacity: 0;
    animation: showOverlayCard 0.06s forwards;
    animation-delay: 0.06s;
}

@keyframes showOverlayCard {
    from {
        opacity: 0;
        top: 8px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}

[data-native-android="true"] .alerts--container .alerts--card,
[data-native-android="true"] .menu--container .menu--card {
    margin-top: calc(((100*var(--vh, 1vh)) - var(--alertscard-maxheight) - var(--alertscard-paddingtopbottom))/2.5 + var(--global-statusbarheight));
}

.menu--container .menu--card {
    position: var(--menucard-position);
    margin: var(--menucard-margin);
    width: var(--menucard-width);
    min-width: var(--menucard-minwidth);
}

[data-rendering-mode="high"] .alerts--container .alerts--card,
[data-rendering-mode="high"] .menu--container .menu--card {
    box-shadow: 0px 2px 38px var(--alertscard-shadow);
}

[data-rendering-mode="low"] .alerts--container .alerts--card,
[data-rendering-mode="low"] .menu--container .menu--card {
    box-shadow: 0px 2px 18px var(--alertscard-shadow);
}

.alerts--container .alerts--card .alerts--title {
    font-size: 28px;
    display: block;
    margin-top: 18px;
}

.alerts--container .alerts--card .alerts--description {
    font-size: 20px;
    display: block;
    margin: var(--alertscarddescription-margin);
}

.alerts--container .alerts--card .component--button {
    margin: var(--alertscardbuttons-margin);
}

.menu--container .menu--card .menu--card-close {
    fill: var(--text-colour);
    position: absolute;
    display: var(--menucclose-display);
    top: 12px;
    left: 12px;
    width: 20px;
    height: 20px;
    opacity: 0.8;
    cursor: pointer;
}

.menu--container .menu--card .menu--account {
    position: relative;
    display: block;
    margin: 18px auto;
    margin-top: 28px;
    text-align: var(--menuaccount-textalign);
}

[data-signed-in="false"] .menu--container .menu--card .menu--account {
    text-align: center;
}

.menu--container .menu--card .menu--account .menu--account-profilePicture {
    display: inline-block;
    width: 52px;
    height: 52px;
    overflow: hidden;
    margin: 4px auto;
}

.menu--container .menu--card .menu--account .menu--account-userInfo {
    display: var(--menuaccountuserinfo-display);
    margin: 4px auto;
    width: calc(100% - 60px);
    height: 52px;
    overflow: hidden;
}

.menu--container .menu--card .menu--account .menu--account-actions {
    width: 100%;
    text-align: center;
    margin: var(--menuaccountactions-margin) 0px;
}

.menu--container .menu--card .menu--account .menu--account-userInfo h4,
.menu--container .menu--card .menu--account .menu--account-userInfo h3 {
    margin: 4px;
    margin-top: 0px;
}

.menu--container .menu--card .menu--account .menu--account-userInfo h4 {
    opacity: 0.8;
}

.menu--container .menu--card .menu--sectionsnavigation {
    display: var(--menusectionsnavigation-display);
}

.menu--container .menu--card .menu--card-item {
    display: inline-block;
    width: calc(50% - 10px);
    margin: 4px auto;
    opacity: 1;
    padding-bottom: 6px;
}

.menu--container .menu--card .menu--card-item .menu--card-itemtitle {
    top: 2px;
}