/*

    The styles of the alert screen and pop-up box

*/

:root {
    --alertscard-width: calc(60vw - var(--alertscard-paddingleftright) * 2);
    --alertscard-maxheight: calc( (60 * var(--vh, 1vh)) - var(--alertscard-paddingtopbottom) * 2);
    --alertscard-paddingleftright: 40px;
    --alertscard-paddingtopbottom: 20px;
    --alertscarddescription-margin: 0px 20px;
    --alertscardbuttons-margin: 18px 6px;
}

@media all and (max-width: 840px) {
     :root {
        --alertscard-width: calc(90vw - var(--alertscard-paddingleftright) * 2);
        --alertscard-maxheight: calc( (80 * var(--vh, 1vh)) - var(--alertscard-paddingtopbottom) * 2);
        --alertscard-paddingleftright: 28px;
        --alertscard-paddingtopbottom: 20px;
        --alertscarddescription-margin: 0px 4px;
        --alertscardbuttons-margin: 18px 4px;
    }
}

.alerts--container {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: var(--alerts-background);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
}

.alerts--container .alerts--card {
    width: var(--alertscard-width);
    height: fit-content;
    height: -moz-fit-content;
    max-height: var(--alertscard-maxheight);
    background-color: var(--alertscard-background);
    border: 1px solid var(--alertscard-border);
    margin: calc(( (100 * var(--vh, 1vh)) - var(--alertscard-maxheight) - var(--alertscard-paddingtopbottom)) / 2.5) auto;
    border-radius: 12px;
    padding: var(--alertscard-paddingtopbottom) var(--alertscard-paddingleftright);
    text-align: center;
}

[data-rendering-mode="high"] .alerts--container .alerts--card {
    box-shadow: 0px 2px 38px var(--alertscard-shadow);
}

[data-rendering-mode="low"] .alerts--container .alerts--card {
    box-shadow: 0px 2px 18px var(--alertscard-shadow);
}

.alerts--container .alerts--card .alerts--title {
    font-size: 28px;
    display: block;
    margin-top: 18px;
}

.alerts--container .alerts--card .alerts--description {
    font-size: 20px;
    display: block;
    margin: var(--alertscarddescription-margin);
}

.alerts--container .alerts--card .component--button {
    margin: var(--alertscardbuttons-margin);
}