/*

    Complex layout CSS that isn't necessary for the first print

*/

:root {
    --sectionsbarafter-top: calc(var(--sectionsbaritem-size) / 4);
    --sectionsbarafter-left: -2px;
    --sectionsbarafter-width: 6px;
    --sectionsbarafter-height: calc(var(--sectionsbaritem-size) / 2);
    --sectionsbarafter-bottom: none;
}

@media all and (max-width: 840px) {
     :root {
        --sectionsbarafter-top: none;
        --sectionsbarafter-left: 30%;
        --sectionsbarafter-width: 40%;
        --sectionsbarafter-height: 6px;
        --sectionsbarafter-bottom: -2px;
    }
}

.layout--sectionsbar-item.state--selected,
.layout--sectionsbar-item:hover,
.layout--sectionsbar-item:active {
    opacity: 1;
    position: relative;
}

.layout--sectionsbar-item.state--selected {
    pointer-events: none;
}

.layout--sectionsbar-item.state--selected:after {
    content: "";
    position: absolute;
    display: block;
    top: var(--sectionsbarafter-top);
    left: var(--sectionsbarafter-left);
    width: var(--sectionsbarafter-width);
    height: var(--sectionsbarafter-height);
    bottom: var(--sectionsbarafter-bottom);
    background-color: var(--colours-primary1);
    border-radius: 100px;
}

.layout--sectionsbar-item.state--selected .sectionsbar--item-icon {
    fill: var(--colours-primary1);
    filter: drop-shadow(0px -2px 0px var(--colours-primary2)) drop-shadow(0px -1px 0px var(--colours-primary2));
    margin-top: 16px;
}

.layout--sectionsbar-item.state--selected .sectionsbar--item-title {
    opacity: 0;
}

.layout--sectionsbar-item.state--selected {
    background-color: var(--topbar-backgroundhover);
}

[data-using-search="false"][data-floating-search="true"] .layout--topbar {
    transition: background-color 0.12s, border 0.06s;
}

[data-using-search="false"][data-floating-search="true"] .layout--topbar-search {
    transition: background-color 0.04s;
}

[data-using-search="false"][data-floating-search="true"] .layout--topbar-search::placeholder {
    transition: color 0.04s;
}

@media all and (max-width: 840px) {
    [data-using-search="false"][data-floating-search="true"] .layout--topbar[data-allow-float="true"] .layout--topbar-search {
        background-color: var(--topbarsearchfloat-background);
        box-shadow: 0 1px 8px var(--topbarsearchfloat-shadow);
        backdrop-filter: blur(4px);
    }
    [data-using-search="false"][data-floating-search="true"] .layout--topbar[data-allow-float="true"] .layout--topbar-search::placeholder {
        color: var(--text-colour);
        opacity: 0.9 !important;
    }
    [data-using-search="false"][data-floating-search="true"] .layout--pagecontent {
        margin-top: calc(-1 * var(--topbar-height));
        height: calc(var(--pagecontent-height) + var(--topbar-height));
    }
    [data-using-search="false"][data-floating-search="true"] .layout--topbar[data-allow-float="true"] {
        background-color: transparent;
        border: none;
    }
    [data-floating-search="true"] .component--scrollbar {
        top: 0px;
    }
}