/*

    Search-related elements

*/

:root {
    --searchcontainer-background: black;
    --searchcontainer-width: 36%;
    --searchcontainer-height: fit-content;
    --searchcontaineritem-sidesmargin: 6px;
    --searchcontainer-padding: 14px;
    --searchcontainer-background: var(--alertscard-background);
    --searchcontainer-border: 1px solid var(--alertscard-border);
}

@media all and (max-width: 840px) {
     :root {
        --searchcontainer-background: transparent;
        --searchcontainer-width: 100vw;
        --searchcontainer-height: calc(var(--vh, 1vh) * 100 - var(--topbar-height));
        --searchcontaineritem-sidesmargin: calc(var(--global-sidesmargin) - 4px);
        --searchcontainer-padding: 0px;
        --searchcontainer-background: transparent;
        --searchcontainer-border: none;
    }
}

.layout--searchcontainer {
    position: absolute;
    top: var(--topbar-height);
    width: 100vw;
    border-radius: 8px;
    background: var(--searchcontainer-background);
    width: var(--searchcontainer-width);
    height: -moz-fit-content;
    height: -webkit-fill-available;
    height: var(--searchcontainer-height);
    min-height: 100px;
    padding: var(--searchcontainer-padding);
    background-color: var(--searchcontainer-background);
    border: var(--searchcontainer-border);
    border-radius: 12px;
}

[data-native-android="true"] .layout--searchcontainer {
    top: calc(var(--topbar-height) + var(--global-statusbarheight));
}

[data-rendering-mode="high"] .layout--searchcontainer {
    box-shadow: 0px 2px 38px var(--alertscard-shadow);
}

[data-rendering-mode="low"] .layout--searchcontainer {
    box-shadow: 0px 2px 18px var(--alertscard-shadow);
}

[data-using-search="true"] .layout--searchcontainer {
    box-shadow: none;
}

[data-using-search=true] .layout--searchcontainer {
    display: block;
}

[data-using-search="true"] .layout--pagecontent {
    opacity: 0;
}

[data-using-search="true"] .layout--sectionsbar,
[data-using-search="true"] .component--scrollbar,
[data-using-search="true"] .layout--topbar-options,
[data-using-search="true"] .layout--topbar-profile {
    display: none !important;
}

[data-using-search="true"] .layout--topbar-search {
    background: none;
    box-shadow: none;
}

[data-using-search="true"] .layout--topbar-right {
    display: none;
}

.layout--searchcontainer-item {
    position: relative;
    display: flex;
    padding: 8px;
    margin: 10px var(--searchcontaineritem-sidesmargin);
    border-radius: 4px;
    cursor: pointer;
}

.layout--searchcontainer-item text {
    font-size: 18px;
    color: var(--text-colour);
    opacity: 0.6;
    margin: 0px 8px;
}

.layout--searchcontainer-item svg {
    fill: var(--text-colour);
    opacity: 0.6;
    width: 20px;
    height: 20px;
    padding: 5px;
}

.layout--searchcontaineritem-inserticon {
    position: absolute;
    right: 8px;
}


/* Animate the search menu and search bar */

.layout--topbar-backbutton {
    animation: backButtonAnimation 0.1s;
}

.layout--topbar-searchicon {
    animation: searchButtonAnimation 0.1s;
}

.layout--topbar-options,
.component--search-iconright,
.layout--topbar-profile {
    animation: searchIconsAnimation 0.1s;
}

.layout--searchcontainer {
    opacity: 0;
    animation: searchContainerAnimation .16s forwards;
    animation-delay: 0.06s;
}

@keyframes backButtonAnimation {
    from {
        transform: rotate(25deg);
        opacity: 0;
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes searchButtonAnimation {
    from {
        transform: rotate(-25deg);
        opacity: 0;
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes searchIconsAnimation {
    from {
        opacity: 0;
    }
    to {}
}

@keyframes searchContainerAnimation {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}