/*

    The default suggestion cards

*/

:root {
    --suggestionscard-width: 200px;
    --suggestionscard-height: 270px;
    --suggestionscard-padding: 14px;
    --suggestionscardname-fontsize: 20px;
}

@media all and (max-width: 840px) {
     :root {
        --suggestionscard-width: calc( ( 100vw / 3));
        --suggestionscard-height: calc( var(--suggestionscard-width) + 58px);
        --suggestionscardname-fontsize: 16px;
    }
}

@media all and (max-width: 300px) {
     :root {
        --suggestionscard-width: 100px;
        --suggestionscard-height: calc( var(--suggestionscard-width) + 58px);
        --suggestionscardname-fontsize: 16px;
    }
}


/* Suggestions section */

.suggestions--section {
    margin-left: 0px;
    width: 100%;
    height: calc(var(--suggestionscard-height) + 8px);
}

.suggestions--section-top text {
    font-size: 20px;
}


/* Suggestions card */

.suggestions--card {
    width: calc(var(--suggestionscard-width) - 2 * var(--suggestionscard-padding));
    min-width: calc(var(--suggestionscard-width) - 2 * var(--suggestionscard-padding));
    height: calc(var(--suggestionscard-height) - 2 * var(--suggestionscard-padding));
    display: inline-block;
    margin-right: 12px;
    display: inline-block;
    padding: var(--suggestionscard-padding);
    overflow: hidden;
}

.suggestions--card:first-child {
    margin-left: var(--global-sidesmargin);
}

.suggestions--card:last-child {
    margin-right: var(--global-sidesmargin);
}


/* Suggestions card content */

.suggestions--card .suggestions--card-logo {
    display: block;
    width: 100%;
    height: calc(var(--suggestionscard-width) - 2 * var(--suggestionscard-padding));
    border-radius: 10px;
    margin-bottom: var(--suggestionscard-padding);
    overflow: hidden;
}

.suggestions--card .suggestions--card-name {
    font-size: var(--suggestionscardname-fontsize);
    display: block;
    width: fit-content;
    width: -moz-fit-content;
    margin-bottom: calc(var(--suggestionscard-padding) - 6px);
}

.suggestions--card .suggestions--card-extra {
    font-size: calc(var(--suggestionscardname-fontsize) - 4px);
    opacity: 0.6;
    position: relative;
    display: block;
}

.suggestions--card .suggestions--card-extra .suggestions--cardextra-size {}

.suggestions--card .suggestions--card-extra .suggestions--cardextra-price {
    position: absolute;
    right: 0px;
}


/* The content resources */

.layout--pagecontent #system--pageResources {
    display: none !important;
}