:root {
    --suggestionscard-width: 200px;
    --suggestionscard-height: 270px;
    --suggestionscard-padding: 14px;
    --suggestionscardname-fontsize: 20px;
}

@media all and (max-width: 840px) {
     :root {
        --suggestionscard-width: calc( ( 100vw / 3));
        --suggestionscard-height: calc( var(--suggestionscard-width) + 58px);
        --suggestionscardname-fontsize: 16px;
    }
}

@media all and (max-width: 300px) {
     :root {
        --suggestionscard-width: 100px;
        --suggestionscard-height: calc( var(--suggestionscard-width) + 58px);
        --suggestionscardname-fontsize: 16px;
    }
}


/* Sections */

.component--section {
    width: calc(100% - var(--global-sidesmargin)*2);
    min-height: 10px;
    margin: calc(var(--global-topbottommargin)*var(--componentsection-marginFactor)) var(--global-sidesmargin);
    -webkit-overflow-scrolling: touch;
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-padding: var(--global-sidesmargin);
    overflow-y: visible;
    overflow-x: auto;
    height: fit-content;
}


/* Cards */

.component--card {
    background-color: var(--cards-background);
    scroll-snap-align: start;
    border-radius: 8px;
    border: 1px solid transparent;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
    transition: all 0s;
}

.component--card:hover {
    transition: opacity 0.1s;
    border: 1px solid var(--cards-border);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.component--card:active {
    transition: opacity 0.1s;
    border: 1px solid var(--cards-border);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    opacity: 0.5;
}


/* Suggestions section */

.suggestions--section {
    margin-left: 0px;
    width: 100%;
    height: calc(var(--suggestionscard-height) + 8px);
}

.suggestions--section-top text {
    font-size: 20px;
}


/* Suggestions card */

.suggestions--card {
    width: calc(var(--suggestionscard-width) - 2 * var(--suggestionscard-padding));
    min-width: calc(var(--suggestionscard-width) - 2 * var(--suggestionscard-padding));
    height: calc(var(--suggestionscard-height) - 2 * var(--suggestionscard-padding));
    display: inline-block;
    margin-right: 12px;
    display: inline-block;
    padding: var(--suggestionscard-padding);
    overflow: hidden;
}

.suggestions--card:first-child {
    margin-left: var(--global-sidesmargin);
}

.suggestions--card:last-child {
    margin-right: var(--global-sidesmargin);
}


/* Suggestions card content */

.suggestions--card .suggestions--card-logo {
    display: block;
    background-color: var(--suggestionscardlogo-background);
    width: 100%;
    height: calc(var(--suggestionscard-width) - 2 * var(--suggestionscard-padding));
    border-radius: 10px;
    margin-bottom: var(--suggestionscard-padding);
    overflow: hidden;
}

.suggestions--card .suggestions--card-name {
    font-size: var(--suggestionscardname-fontsize);
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: calc(var(--suggestionscard-padding) - 6px);
}

.suggestions--card .suggestions--card-extra {
    font-size: calc(var(--suggestionscardname-fontsize) - 4px);
    opacity: 0.6;
    position: relative;
    display: block;
}

.suggestions--card .suggestions--card-extra .suggestions--cardextra-size {}

.suggestions--card .suggestions--card-extra .suggestions--cardextra-price {
    position: absolute;
    right: 0px;
}


/* The content resources */

.layout--pagecontent #system--pageResources {
    display: none !important;
}


/* Rubber scrolling */

@media (pointer:coarse) {
    [data-rendering-engine="blink"] .layout--pagecontent {
        scroll-snap-type: y mandatory;
        scroll-padding: -80px;
    }
    [data-rendering-engine="blink"] .layout--pagecontent #system--pageContent {
        margin: 80px 0px;
        position: relative;
    }
    [data-rendering-engine="blink"] .layout--pagecontent #system--pageContent:before {
        content: "";
        display: block;
        position: absolute;
        top: -80px;
        width: 100%;
        height: 100%;
        pointer-events: none;
        margin: 80px 0px;
        z-index: 100 !important;
    }
    [data-rendering-engine="blink"][data-rubber-top="true"] .layout--pagecontent #system--pageContent:before {
        scroll-snap-align: start;
    }
    [data-rendering-engine="blink"][data-rubber-bottom="true"] .layout--pagecontent #system--pageContent:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -80px;
        width: 100%;
        height: 100%;
        pointer-events: none;
        margin: 80px 0px;
        z-index: 100 !important;
    }
    [data-rendering-engine="blink"][data-rubber-bottom="true"] .layout--pagecontent #system--pageContent:after {
        scroll-snap-align: end;
    }
}