/* Prevent text selection, and apply the font. */

* {
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    color: white;
}

text,
h1,
h2,
h3,
h4,
h5,
h6,
input {
    font-family: 'Istok Web', sans-serif;
}


/* Hide the scrollbar */

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


/* Change the tab-focus outline */

*:focus-visible,
*:focus {
    /* remove default focus style */
    outline: none;
}

[data-tab="true"] *:focus-visible,
[data-tab="true"] *:focus {
    /* custom focus styles */
    box-shadow: 0 0 0px 4px red;
}