/*

    A general-use CSS file with `all` (*) selectors or additional attributes

*/


/* Prevent text selection, and apply the font. */

* {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

[enable-select] {
    -moz-user-select: auto;
    -khtml-user-select: auto;
    -webkit-user-select: auto;
    user-select: auto;
    -webkit-user-drag: auto;
    -khtml-user-drag: auto;
    -moz-user-drag: auto;
    -o-user-drag: auto;
}

@media (prefers-reduced-motion) {
    * {
        transition-duration: 0s !important;
    }
}


/* Hide the scrollbar */

[data-device-type="console"] [no-scrollbar]::-webkit-scrollbar,
[data-device-type="desktop"] [no-scrollbar]::-webkit-scrollbar,
[no-scrollbar][no-scrollbar-exception]::-webkit-scrollbar {
    display: none;
}

[data-device-type="console"] [no-scrollbar],
[data-device-type="desktop"] [no-scrollbar],
[no-scrollbar][no-scrollbar-exception] {
    scrollbar-width: none;
}


/* Clickable and Unclickable elements */

[clickable] {
    cursor: pointer;
    pointer-events: auto;
}

[disable] {
    cursor: not-allowed !important;
    opacity: 0.4 !important;
    pointer-events: none !important;
}


/* Change the tab-focus outline */

*:focus-visible,
*:focus {
    /* remove default focus style */
    outline: none;
    outline-color: transparent;
    outline-style: none;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
}

[data-tab="true"] *:focus-visible,
[data-tab="true"] *:focus {
    outline: 4px dashed var(--text-colour);
}


/* Links */

a {
    color: var(--text-colour);
}


/* User-status-related elements */

[data-signed-in="wait"] [data-signed="true"],
[data-signed-in="false"] [data-signed="true"] {
    display: none !important;
}

[data-signed-in="true"] [data-signed="false"] {
    display: none !important;
}