/*

    The colours file

*/


/* Light mode */

:root {
    --colours-primary1: #5d42ef;
    --colours-primary2: #826dea;
    --text-colour: #000000;
    --topbar-background: var(--page-background);
    --sectionsbar-background: var(--page-background);
    --topbar-backgroundhover: #efefef;
    --pagecontent-background: #fbfbfb;
    --pagecontent-border: #c2c2c2;
    --icons-colour: #000000;
    --topbarsearch-backgroundcolour: #ffffff;
    --topbarsearch-shadow: #d0d0d0;
    --scrollbar-colour: #505050;
    --scrollbar-background: #d0d0d09c;
    --alerts-background: #bdbdbd94;
    --alertscard-background: var(--topbar-background);
    --alertscard-border: #ababab;
    --alertscard-shadow: #8a8a8a4f;
    --button-background: #ffffff;
    --button-border: #c1c1c1;
    --primarybutton-background: var(--colours-primary1);
    --primarybutton-border: var(--colours-primary2);
    --cards-border: #dddddd;
    --cards-background: #fafafa;
    --topbarlogo-opacity: 1;
    --suggestionscardlogo-shadow: #b9b9b9;
    --suggestionscardlogo-backgroundcolor: #ffffff;
    --topbarsearchfloat-background: #ffffffd4;
    --topbarsearchfloat-shadow: #5f5f5f6b;
}


/* Dark mode */

@media (prefers-color-scheme: dark) {
     :root {
        --colours-primary1: #452dc5;
        --colours-primary2: #6552ce;
        --text-colour: #ffffff;
        --topbar-background: var(--page-background);
        --sectionsbar-background: var(--page-background);
        --topbar-backgroundhover: #2e2e2e;
        --pagecontent-background: #252525;
        --pagecontent-border: #3d3d3d;
        --icons-colour: #ffffff;
        --topbarsearch-backgroundcolour: #323232;
        --topbarsearch-shadow: #1d1d1d;
        --scrollbar-colour: #c7c7c7;
        --scrollbar-background: #2b2b2b9c;
        --alerts-background: #08080894;
        --alertscard-background: var(--topbar-background);
        --alertscard-border: var(--pagecontent-border);
        --alertscard-shadow: #0000004f;
        --button-background: #3c3c3c;
        --button-border: #6b6b6b;
        --cards-border: #383838;
        --cards-background: #292929;
        --topbarlogo-opacity: 0.9;
        --suggestionscardlogo-shadow: #181818;
        --suggestionscardlogo-backgroundcolor: #2c2c2c;
        --topbarsearchfloat-background: #252525c9;
        --topbarsearchfloat-shadow: #0c0c0c6b;
    }
}