/* Light mode */

:root {
    color-scheme: light;
    --topbar-background: #8B8B8B;
    --sectionsbar-background: #C4C4C4;
    --pagecontent-background: #FFFFFF;
}


/* Dark mode */

@media (prefers-color-scheme: dark) {
     :root {
        color-scheme: dark;
        --topbar-background: #8B8B8B;
        --sectionsbar-background: #C4C4C4;
        --pagecontent-background: #FFFFFF;
    }
}