/*

    First-print components

*/

:root {
    --componentsection-marginFactor: 3;
    --scrollbar-width: calc(var(--global-sidesmargin) / 1.5);
    --scrollbar-height: calc(100% - var(--topbar-height));
    --scrollbarbuttons-opacity: 1;
    --scrollbarbuttons-pointerevents: auto;
    --componentcover-height: calc( (96 * var(--vh, 1vh)) - var(--topbar-height));
    --componentbutton-padding: 10px 24px;
    --scrollbar-display: flex;
}

@media all and (max-width: 840px) {
     :root {
        --scrollbar-height: calc(100% - var(--topbar-height) - var(--sectionsbar-height));
        --scrollbarbuttons-opacity: 0;
        --scrollbarbuttons-pointerevents: none;
        --componentcover-height: calc( (96 * var(--vh, 1vh)) - var(--topbar-height) - var(--sectionsbar-height));
        --componentbutton-padding: 14px 32px;
    }
}

[data-device-type="mobile"]:root,
[data-device-type="tablet"]:root {
    --scrollbar-display: none;
}


/* Buttons */

button.component--button {
    background-color: var(--button-background);
    padding: var(--componentbutton-padding);
    font-size: 16px;
    border: 1px solid var(--button-border);
    border-radius: 4px;
    cursor: pointer;
    color: var(--text-colour);
}

button.component--button:hover {
    opacity: 0.9;
}

button.component--button:active {
    opacity: 0.7;
}

button.component--button.component--button-primary {
    background-color: var(--primarybutton-background);
    border: 1px solid var(--primarybutton-border);
    color: white;
}


/* The scrollbar */

.component--scrollbar {
    position: fixed;
    right: 0px;
    top: var(--topbar-height);
    bottom: 0px;
    width: var(--scrollbar-width);
    height: var(--scrollbar-height);
    display: var(--scrollbar-display) !important;
    flex-direction: column;
    justify-content: flex-start;
}

@media (pointer:coarse) {
    .component--scrollbar {
        pointer-events: none !important;
    }
}

.component--scrollbar-top,
.component--scrollbar-bottom {
    position: relative;
    width: 100%;
    height: var(--scrollbar-width);
    pointer-events: var(--scrollbarbuttons-pointerevents);
}

.component--scrollbar-top {
    padding-top: calc(var(--global-topbottommargin) - 5px);
    padding-bottom: 5px;
}

.component--scrollbar-bottom {
    padding-bottom: calc(var(--global-topbottommargin) - 4px);
    padding-top: 4px;
}

.component--scrollbar-handlecontainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.component--scrollbar-handle {
    position: relative;
    display: block;
    top: 0px;
    width: calc(100% - 10px);
    height: 0px;
    background-color: var(--scrollbar-colour);
    margin: 0px 5px;
    border-radius: 100px;
}

.component--scrollbar-handle:before {
    content: "";
    display: block;
    position: relative;
    width: calc(100% + 10px);
    height: calc(100% + 16px);
    top: -8px;
    right: 5px;
}