:root {
    --componentsection-marginFactor: 2;
    --scrollbar-width: calc(var(--global-sidesmargin) / 1.5);
    --scrollbar-height: calc(100% - var(--topbar-height));
    --scrollbarbuttons-opacity: 1;
    --scrollbarbuttons-pointerevents: auto;
    --componentcover-height: calc(96vh - var(--topbar-height));
}

@media all and (max-width: 840px) {
     :root {
        --scrollbar-height: calc(100% - var(--topbar-height) - var(--sectionsbar-height));
        --scrollbarbuttons-opacity: 0;
        --scrollbarbuttons-pointerevents: none;
        --componentcover-height: calc(96vh - var(--topbar-height) - var(--sectionsbar-height));
    }
}


/* Buttons */

button.component--button {
    background-color: red;
}

button.component--button.component--button-primary {
    background-color: green;
}


/* The scrollbar */

.component--scrollbar {
    position: fixed;
    right: 0px;
    top: var(--topbar-height);
    bottom: 0px;
    width: var(--scrollbar-width);
    height: var(--scrollbar-height);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.component--scrollbar-top,
.component--scrollbar-bottom {
    position: relative;
    width: 100%;
    height: var(--scrollbar-width);
    opacity: var(--scrollbarbuttons-opacity);
    pointer-events: var(--scrollbarbuttons-pointerevents);
}

.component--scrollbar-top {
    padding-top: var(--global-topbottommargin);
}

.component--scrollbar-bottom {
    padding-bottom: var(--global-topbottommargin);
}

.component--scrollbar-handlecontainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.component--scrollbar-handle {
    position: relative;
    display: block;
    top: 0px;
    width: calc(100% - 10px);
    height: 0px;
    background-color: var(--scrollbar-colour);
    margin: 0px 5px;
    border-radius: 100px;
}