/* Body and HTML styles */

body {
    min-height: 100vh;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--topbar-background);
    width: 100%;
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}


/* Hide unloaded stuff */

[data-loaded="false"] .effect--skeleton {
    color: transparent;
    position: relative;
}

[data-loaded="false"] .effect--skeleton:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: rgb(241, 241, 241);
}

[data-loaded="false"] .effect--skeleton * {
    display: none !important;
}

[data-loaded="false"] input::placeholder {
    color: transparent;
}


/* Dynamic variables */

:root {
    --global-sidesmargin: 21px;
    --global-topbottommargin: 8px;
    --topbar-height: 52px;
    --sectionsbar-width: 74px;
    --sectionsbar-height: calc(100% - var(--topbar-height));
    --sectionsbar-top: var(--topbar-height);
    --sectionsbar-right: none;
    --pagecontent-left: var(--sectionsbar-width);
    --pagecontent-height: calc(100% - var(--topbar-height));
    --sectionsbar-flexdirection: column;
    --sectionsbar-bottomdisplay: flex;
    --topbarcomponent-grow: 1;
    --topbarsearch-width: 60%;
    --topbarsearch-height: calc(var(--topbar-height) - 16px);
    --topbarcenter-padding: 0px;
    --topbarright-position: relative;
    --topbarright-right: var(--global-sidesmargin);
    --topbarright-width: none;
    --topbarright-height: none;
    --topbarleft-display: flex;
    --topbarcomponent-width: 20%;
    --sectionsbarcomponent-justifycontent: normal;
    --sectionsbaritem-size: 60px;
    --sectionsbaritem-margin: calc((var(--sectionsbar-width) - var(--sectionsbaritem-size)) / 2);
    --sectionsbar-padding: 0px;
    --sectionsbartop-justifycontent: normal;
    --topbarusername-display: flex;
    --topbarprofile-marginright: 0px;
    --icons-size: 32px;
    --icons-margintop: 6px;
    --icons-marginbottom: 2px;
    --icons-marginleftright: calc((var(--sectionsbaritem-size) - var(--icons-size)) / 2);
    --sectionsbaritme-display: block;
}

@media all and (max-width: 840px) {
     :root {
        --topbar-height: 64px;
        --sectionsbar-width: 100%;
        --sectionsbar-height: 60px;
        --sectionsbar-top: none;
        --sectionsbar-right: 0px;
        --pagecontent-left: 0px;
        --pagecontent-height: calc(100% - var(--topbar-height) - var(--sectionsbar-height));
        --sectionsbar-flexdirection: row;
        --sectionsbar-bottomdisplay: none;
        --topbarcomponent-grow: 0;
        --topbarsearch-width: 100%;
        --topbarsearch-height: calc(var(--topbar-height) - 20px);
        --topbarcenter-padding: var(--global-sidesmargin);
        --topbarright-position: absolute;
        --topbarright-right: var(--topbarcenter-padding);
        --topbarright-width: var(--topbar-height);
        --topbarright-height: var(--topbar-height);
        --topbarleft-display: none;
        --topbarcomponent-width: none;
        --sectionsbarcomponent-justifycontent: center;
        --sectionsbaritem-size: 48px;
        --sectionsbaritem-margin: calc((var(--sectionsbar-height) - var(--sectionsbaritem-size)) / 2);
        --sectionsbar-padding: var(--global-sidesmargin);
        --sectionsbartop-justifycontent: space-evenly;
        --topbarusername-display: none;
        --topbarprofile-marginright: 8px;
        --icons-margintop: var(--icons-marginleftright);
        --icons-marginbottom: 0px;
        --sectionsbaritme-display: none;
    }
}


/* Layout order-related attributes */

[layer="dialog"] {
    z-index: 1000;
}

[layer="main-layout"] {
    z-index: 500;
}

[layer="page-content-top"] {
    z-index: 100;
}


/* Main layout components */

.layout--topbar {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    height: var(--topbar-height);
    background-color: var(--topbar-background);
    display: flex;
    justify-content: space-between;
}

.layout--sectionsbar {
    position: fixed;
    top: var(--sectionsbar-top);
    bottom: 0px;
    left: 0px;
    right: var(--sectionsbar-right);
    height: var(--sectionsbar-height);
    width: var(--sectionsbar-width);
    background-color: var(--sectionsbar-background);
    display: flex;
    flex-direction: var(--sectionsbar-flexdirection);
    justify-content: space-between;
}

.layout--pagecontent {
    position: fixed;
    top: var(--topbar-height);
    right: 0px;
    left: var(--pagecontent-left);
    width: calc(100% - var(--pagecontent-left));
    height: var(--pagecontent-height);
    background-color: var(--pagecontent-background);
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior: contain;
}


/* Main layout sub-components */

.layout--topbar-component {
    flex-grow: var(--topbarcomponent-grow);
    align-items: center;
    max-width: var(--topbarcomponent-width);
    min-width: var(--topbarcomponent-width);
}

.layout--topbar-left {
    display: var(--topbarleft-display);
    justify-content: left;
    padding-left: var(--global-sidesmargin);
}

.layout--topbar-center {
    display: flex;
    padding: 0px var(--topbarcenter-padding);
    flex-grow: 4;
    justify-content: center;
    max-width: none;
    min-width: none;
}

.layout--topbar-right {
    display: flex;
    position: var(--topbarright-position);
    right: var(--topbarright-right);
    width: var(--topbarright-width);
    height: var(--topbarright-height);
    justify-content: right;
}

.layout--sectionsbar-component {
    display: flex;
    flex-grow: 1;
    justify-content: var(--sectionsbarcomponent-justifycontent);
}

.layout--sectionsbar-top {
    flex-grow: 3;
    flex-direction: var(--sectionsbar-flexdirection);
    padding: 0px var(--sectionsbar-padding);
    justify-content: var(--sectionsbartop-justifycontent);
}

.layout--sectionsbar-bottom {
    display: var(--sectionsbar-bottomdisplay);
    align-items: bottom;
    flex-direction: column;
    flex-grow: 0;
    padding-bottom: var(--global-topbottommargin);
}


/* Sub-layout components */

[data-signedin="wait"] .layout--topbar-username,
[data-signedin="wait"] .layout--topbar-profile,
[data-signedin="wait"] .layout--topbar-button {
    display: none !important;
    opacity: 0;
}

.layout--topbar-search {
    background-color: #C0C0C0;
    width: var(--topbarsearch-width);
    height: var(--topbarsearch-height);
}

.layout--topbar-logo,
.layout--topbar-profile {
    background-color: #545454;
    width: 32px;
    width: 32px;
    overflow: hidden;
    margin: 0px;
}

.layout--topbar-title {
    margin-left: var(--global-sidesmargin);
}

.layout--topbar-profile {
    display: none;
    border-radius: 1000px;
    margin-right: var(--topbarprofile-marginright);
}

.layout--topbar-username {
    display: none;
    margin-right: var(--global-sidesmargin);
}

[data-signedin="true"] .layout--topbar-username {
    display: var(--topbarusername-display);
}

[data-signedin="true"] .layout--topbar-profile {
    display: flex;
}

[data-signedin="true"] .layout--topbar-button {
    display: none;
}

.layout--sectionsbar-item {
    width: var(--sectionsbaritem-size);
    height: var(--sectionsbaritem-size);
    background-color: #adadad;
    margin: var(--sectionsbaritem-margin);
    text-align: center;
}

.layout--sectionsbar-item .sectionsbar--item-icon {
    display: block;
    width: var(--icons-size);
    height: var(--icons-size);
    font-size: var(--icons-size);
    margin: 0px var(--icons-marginleftright);
    margin-top: var(--icons-margintop);
    margin-bottom: var(--icons-marginbottom);
    fill: white;
}

.layout--sectionsbar-item .sectionsbar--item-title {
    font-size: 12px;
    display: var(--sectionsbaritme-display);
}