/*

    First-print layout

*/


/* Body and HTML styles */

body {
    min-height: -webkit-fill-available;
    min-height: calc(100 * var(--vh, 1vh));
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--topbar-background);
    width: 100%;
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}


/* Hide unloaded stuff */

[data-rendering-mode="high"] [data-loaded="true"] {
    -moz-animation: showElement 0.1s linear;
    -webkit-animation: showElement 0.1s linear;
    -o-animation: showElement 0.1s linear;
    animation: showElement 0.1s linear;
    opacity: 1;
}

[data-rendering-mode="high"] [data-loaded="false"] {
    -moz-animation: hideElement 0.1s linear;
    -webkit-animation: hideElement 0.1s linear;
    -o-animation: hideElement 0.1s linear;
    animation: hideElement 0.1s linear;
    opacity: 0;
}

[data-rendering-mode="low"] [data-loaded="true"] {
    opacity: 1;
}

[data-rendering-mode="low"] [data-loaded="false"] {
    opacity: 0;
}

@keyframes showElement {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hideElement {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* Dynamic variables */

:root {
    --global-sidesmargin: 21px;
    --global-topbottommargin: 8px;
    --topbar-height: 52px;
    --sectionsbar-width: 74px;
    --sectionsbar-height: calc(100% - var(--topbar-height));
    --sectionsbar-top: var(--topbar-height);
    --sectionsbar-right: none;
    --pagecontent-left: var(--sectionsbar-width);
    --pagecontent-height: calc(100% - var(--topbar-height));
    --sectionsbar-flexdirection: column;
    --sectionsbar-bottomdisplay: flex;
    --topbarcomponent-grow: 1;
    --topbarsearch-width: 60%;
    --topbarsearch-height: calc(var(--topbar-height) - 16px);
    --topbarcenter-padding: 0px;
    --topbarright-position: relative;
    --topbarright-right: var(--global-sidesmargin);
    --topbarright-width: none;
    --topbarright-height: none;
    --topbarleft-display: flex;
    --topbarcomponent-width: 20%;
    --sectionsbarcomponent-justifycontent: normal;
    --sectionsbaritem-size: 64px;
    --sectionsbaritem-margin: calc((var(--sectionsbar-width) - var(--sectionsbaritem-size)) / 2);
    --sectionsbar-padding: 0px;
    --sectionsbartop-justifycontent: normal;
    --topbarusername-display: flex;
    --topbarprofile-marginright: 0px;
    --icons-size: 32px;
    --icons-margin: 12px;
    --sectionsbaritme-display: block;
    --pagecontent-corner: 14px;
    --pagecover-topleftborder: 1px;
    --pagecover-bottomborder: 0px;
    --sectionsbaritem-width: var(--sectionsbaritem-size);
    --topbarbutton-display: flex;
    --topbaroptions-display: none;
    --topbar-border: 0px solid transparent;
    --sectionsbaritemtitle-top: -2px;
    --searchicon-position: relative;
    --searchicon-left: calc(var(--global-sidesmargin) + 19px);
    --searchiconright-display: block;
}

@media all and (max-width: 840px) {
     :root {
        --topbar-height: 72px;
        --sectionsbar-width: 100%;
        --sectionsbar-height: 72px;
        --sectionsbar-top: none;
        --sectionsbar-right: 0px;
        --pagecontent-left: 0px;
        --pagecontent-height: calc(100% - var(--topbar-height) - var(--sectionsbar-height));
        --sectionsbar-flexdirection: row;
        --sectionsbar-bottomdisplay: none;
        --topbarcomponent-grow: 0;
        --topbarsearch-width: 100%;
        --topbarsearch-height: calc(var(--topbar-height) - 1.1*var(--global-sidesmargin));
        --topbarcenter-padding: var(--global-sidesmargin);
        --topbarright-position: absolute;
        --topbarright-right: var(--topbarcenter-padding);
        --topbarright-width: var(--topbar-height);
        --topbarright-height: var(--topbar-height);
        --topbarleft-display: none;
        --topbarcomponent-width: none;
        --sectionsbarcomponent-justifycontent: center;
        --sectionsbaritem-size: 60px;
        --sectionsbaritem-margin: calc((var(--sectionsbar-height) - var(--sectionsbaritem-size)) / 2);
        --sectionsbar-padding: var(--global-sidesmargin);
        --sectionsbartop-justifycontent: space-evenly;
        --topbarusername-display: none;
        --topbarprofile-marginright: 8px;
        --icons-margin: 8px;
        --pagecontent-corner: 0px;
        --pagecover-topleftborder: 0px;
        --pagecover-bottomborder: 1px;
        --sectionsbaritem-width: 28%;
        --topbarbutton-display: none;
        --topbaroptions-display: flex;
        --topbar-border: 1px solid var(--pagecontent-border);
        --sectionsbaritemtitle-top: -4px;
        --searchicon-position: absolute;
        --searchicon-left: calc(var(--global-sidesmargin));
        --searchiconright-display: none;
    }
}


/* Layout order-related attributes */

[layer="UI"] {
    z-index: 1500;
}

[layer="dialog"] {
    z-index: 1000;
}

[layer="main-layout"] {
    z-index: 500;
}

[layer="page-content-top"] {
    z-index: 100;
}


/* Main layout components */

.layout--topbar {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    height: var(--topbar-height);
    background-color: var(--topbar-background);
    display: flex;
    justify-content: space-between;
    border-bottom: var(--topbar-border);
    -webkit-app-region: drag;
    transition: none !important;
}

.layout--searchcontainer {
    display: none;
}

.layout--sectionsbar {
    position: fixed;
    top: var(--sectionsbar-top);
    bottom: 0px;
    left: 0px;
    right: var(--sectionsbar-right);
    height: var(--sectionsbar-height);
    width: var(--sectionsbar-width);
    background-color: var(--sectionsbar-background);
    display: flex;
    flex-direction: var(--sectionsbar-flexdirection);
    justify-content: space-between;
    border-top: var(--pagecover-bottomborder) solid var(--pagecontent-border);
}

.layout--pagecontent,
.layout--pagecover {
    position: absolute;
    top: var(--topbar-height);
    right: 0px;
    left: var(--pagecontent-left);
    width: calc(100% - var(--pagecontent-left));
    height: var(--pagecontent-height);
    background-color: var(--pagecontent-background);
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: var(--pagecontent-corner) 0px 0px 0px;
    border-top: var(--pagecover-topleftborder) solid var(--pagecontent-border);
    border-left: var(--pagecover-topleftborder) solid var(--pagecontent-border);
}

.layout--pagecontent {
    position: relative;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    perspective: 1px;
    will-change: scroll-position;
}

.page--background {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    transform: translateZ(-3px) scale(4);
}

.page--background .page--background-image {
    position: relative;
    height: var(--componentcover-height);
    width: 100%;
    display: block;
    object-fit: cover;
}

.layout--pagecontent-child {
    position: relative;
    min-height: 100%;
    height: fit-content;
    height: -moz-fit-content;
    width: 100%;
    display: block;
    overflow-x: hidden;
}

.layout--pagecontent-child.state--error {
    height: var(--pagecontent-height);
}

[data-extracontentloade="false"] .layout--pagecontent * {
    visibility: hidden !important;
}

.layout--pagecontent #system--pageResources {
    display: none;
    visibility: hidden;
}

.layout--pagecover {
    z-index: 501;
    background-color: var(--pagecontent-background);
    display: flex;
    align-items: center;
    overflow: hidden;
}

.layout--pagecover .component--loadingicon {
    margin: auto;
    opacity: 0;
    transition: opacity 0.12s;
}

[data-content-loaded="true"] .layout--pagecover .component--loadingicon {
    display: none;
}

[data-content-loaded="true"] .layout--pagecover {
    pointer-events: none;
    display: none;
    -moz-animation: hideCover 0.14s linear;
    -webkit-animation: hideCover 0.14s linear;
    -o-animation: hideCover 0.14s linear;
    animation: hideCover 0.14s linear;
}

@keyframes hideCover {
    0% {
        display: flex;
        opacity: 1;
    }
    99% {
        display: flex;
        opacity: 0;
    }
    100% {
        display: none;
    }
}


/* Main layout sub-components */

.layout--topbar-component {
    flex-grow: var(--topbarcomponent-grow);
    align-items: center;
    max-width: var(--topbarcomponent-width);
    min-width: var(--topbarcomponent-width);
}

.layout--topbar-left {
    display: var(--topbarleft-display);
    justify-content: left;
    padding-left: var(--global-sidesmargin);
}

.layout--topbar-center {
    display: flex;
    padding: 0px var(--topbarcenter-padding);
    flex-grow: 4;
    justify-content: center;
    max-width: none;
    min-width: none;
}

.layout--topbar-right {
    display: flex;
    position: var(--topbarright-position);
    right: var(--topbarright-right);
    width: var(--topbarright-width);
    height: var(--topbarright-height);
    justify-content: right;
}

.layout--sectionsbar-component {
    display: flex;
    flex-grow: 1;
    justify-content: var(--sectionsbarcomponent-justifycontent);
}

.layout--sectionsbar-top {
    flex-grow: 3;
    flex-direction: var(--sectionsbar-flexdirection);
    padding: 0px var(--sectionsbar-padding);
    justify-content: var(--sectionsbartop-justifycontent);
}

.layout--sectionsbar-bottom {
    display: var(--sectionsbar-bottomdisplay);
    align-items: bottom;
    flex-direction: column;
    flex-grow: 0;
    padding-bottom: var(--global-topbottommargin);
}


/* Sub-layout components */

.layout--topbar-controls {
    position: fixed;
    pointer-events: none;
    width: 136px;
    min-width: 136px;
    height: 100%;
    margin-right: calc(-1 * var(--global-sidesmargin));
    margin-left: var(--global-sidesmargin);
    -webkit-app-region: no-drag;
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
}

.layout--topbar-windowbutton {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout--topbar-windowbutton svg {
    width: 12px;
    height: 12px;
    fill: var(--text-colour);
    opacity: 0.7;
}

.layout--topbar-windowbutton.layout--topbar-hideButton:hover,
.layout--topbar-windowbutton.layout--topbar-maxButton:hover {
    background-color: #b4b4b466;
}

.layout--topbar-windowbutton.layout--topbar-closeButton:hover {
    background-color: #e81123;
}

.layout--topbar-windowbutton.layout--topbar-closeButton:hover svg {
    fill: white;
}

[data-mac="true"] .layout--topbar-windowbutton svg {
    border-radius: 100%;
    background-color: var(--text-colour);
}

[data-mac="true"] .layout--topbar-windowbutton:hover {
    background-color: transparent !important;
}

[data-mac="true"] .layout--topbar-windowbutton:hover svg {
    opacity: 1;
}

[data-mac="true"] .layout--topbar-controls {
    width: 84px;
    min-width: 84px;
    margin-right: calc(-0.5 * var(--global-sidesmargin));
}

[data-electron="true"] .layout--topbar-controls {
    position: relative;
    opacity: 0.8;
    display: flex;
    pointer-events: auto;
}

.layout--topbar-profile,
.layout--topbar-username,
.layout--topbar-button,
[data-signed-in="wait"] .layout--topbar-username,
[data-signed-in="wait"] .layout--topbar-profile,
[data-signed-in="wait"] .layout--topbar-button {
    display: none;
    position: fixed;
    -webkit-app-region: no-drag;
}

.layout--topbar-search {
    background-color: var(--topbarsearch-backgroundcolour);
    width: var(--topbarsearch-width);
    height: 0px;
    border-radius: 6px;
    padding: calc(var(--topbarsearch-height) / 2) 42px;
    box-shadow: 0px 1px 3px var(--topbarsearch-shadow);
    border: 0px solid transparent;
    -webkit-app-region: no-drag;
    font-size: 14px;
}

.component--search-icon {
    position: var(--searchicon-position);
    left: var(--searchicon-left);
    padding: 8px;
    fill: var(--text-colour);
    opacity: 0.6;
    cursor: pointer;
    z-index: 2;
}

.component--search-icon.component--search-iconright {
    left: unset;
    right: var(--searchicon-left);
    display: var(--searchiconright-display);
}

[data-using-search="true"] .component--search-icon.component--search-iconright {
    display: block;
}

[data-using-search="true"] .layout--topbar-searchicon {
    display: none;
}

[data-using-search="false"] .layout--topbar-backbutton {
    display: none;
}

.layout--topbar-logo,
.layout--topbar-profile {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    overflow: hidden;
    margin: 0px;
}

.layout--topbar-logo {
    opacity: var(--topbarlogo-opacity);
}

.layout--topbar-title {
    margin-left: calc(var(--global-sidesmargin) / 4);
}

.layout--topbar-profile {
    margin-right: var(--topbarprofile-marginright);
}

.component--profilePicture {
    border-radius: 1000px;
    background-color: #545454;
}

.layout--topbar-username {
    margin-right: var(--global-sidesmargin);
}

[data-signed-in="true"] .layout--topbar-username {
    display: var(--topbarusername-display);
    opacity: 1;
    position: relative;
}

[data-electron="true"] .layout--topbar-username {
    display: none !important;
}

[data-signed-in="true"] .layout--topbar-profile {
    display: flex;
    opacity: 1;
    position: relative;
}

.layout--topbar-button {
    min-width: -moz-fit-content;
    min-width: -webkit-fill-available;
    min-width: fit-content;
}

[data-signed-in="true"] .layout--topbar-button {
    display: none;
}

[data-signed-in="false"] .layout--topbar-button {
    opacity: 1;
    position: relative;
    display: var(--topbarbutton-display);
}

.layout--topbar-options {
    display: none;
}

[data-signed-in="false"] .layout--topbar-options {
    opacity: 0.6;
    position: relative;
    width: 28px;
    height: 28px;
    padding: 8px;
    display: var(--topbaroptions-display);
    fill: var(--text-colour);
}


/* Sections side-bar/top-bar items */

.layout--sectionsbar-item,
.menu--container .menu--card .menu--card-item {
    width: var(--sectionsbaritem-width);
    height: var(--sectionsbaritem-size);
    margin: var(--sectionsbaritem-margin);
    margin-bottom: 0px;
    text-align: center;
    opacity: .6;
    transition: opacity .2s;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.layout--sectionsbar-item:hover,
.menu--container .menu--card .menu--card-item:hover {
    opacity: 1;
    background-color: var(--topbar-backgroundhover)
}

.layout--sectionsbar-item:active,
.menu--container .menu--card .menu--card-item:active {
    opacity: .7;
    background-color: var(--topbar-backgroundhover)
}

.layout--sectionsbar-item .sectionsbar--item-icon,
.menu--container .menu--card .menu--card-item .menu--card-itemicon {
    display: block;
    width: var(--icons-size);
    height: var(--icons-size);
    font-size: var(--icons-size);
    margin: var(--icons-margin) auto;
    fill: var(--icons-colour);
    margin-bottom: 0px;
    transition: margin 0.1s;
    will-change: margin, filter;
}

.layout--sectionsbar-item .sectionsbar--item-title,
.menu--container .menu--card .menu--card-item .menu--card-itemtitle {
    font-size: 12px;
    display: var(--sectionsbaritme-display);
    position: relative;
    top: var(--sectionsbaritemtitle-top);
}